<?php
include '../../controller/session.php';
include '../../model/database.php';
if(($_SESSION['ID'])){

unset($_SESSION['page']);  
$_SESSION['page'] = "report";
?>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/admin-student.css">
        <link rel="stylesheet" href="../css/dailyreport.css">
        <script defer src="../js/admin-script.js"></script>
        <script defer src="../js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script defer src="../js/chart.js"></script>
        <!-- <script defer src="../../../Chart.js-3.8.0/src/core/index.js"></script> -->



        <title>Report</title>
    </head>

    <body>

        <?php

include_once('../include/sidebar.php');

?>

            <div class="content-body ">
                <div class="burger-menu-container">

                    <img src="../images/burger-menu-white.png" alt="burger menu" id="burgerMenu">
                </div>

                <div class="chart_container">
                    <div class="accounts-info">
                        <h3>Weekly Report</h3>
                        <p>View Weekly and Daily Report.</p>
                    </div>
                    <div class="chart firstChart">

                        <div class="chart2">
                            <h2> Entry Information </h2>
                            <canvas id="myChart3"></canvas>
                            <div class="stat" id="stat1">

                            </div>
                        </div>
                        <div class="chart2">
                            <h2> Exit Information </h2>
                            <canvas id="myChart4"></canvas>
                            <div class="stat" id="stat2">

                            </div>
                        </div>
                    </div>
                    <div class="chart secondChart">

                        <div class="select_container">
                            <select name="filter" id="filter">
                                <option value="lastEntry" selected>Entry</option>
                                <option value="lastExit">Exit</option>
                            </select>
                        </div>
                        <div class="chart1">

                            <canvas id="myChart"></canvas>
                            <canvas id="myChart2"></canvas>
                            <h2>User Flow Graph</h2>

                        </div>
                    </div>

                </div>


            </div>




            </main>



    </body>

    </html>
    <?php 
    }
    else{
        header("Location: ../../index.php");
    }
?>