<?php
include '../../controller/session.php';
if(($_SESSION['ID'])){

unset($_SESSION['page']);   
$_SESSION['page'] = "search";

?>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/student-search.css">
        <script defer src="../js/script.js"></script>
        <script defer src="../js/reception-scipt.js"></script>
        <title>Student Search</title>
    </head>

    <body>

 <?php

include('../include/sidebar.php');

?>

            <div class="content-body ">
                <div class="burger-menu-container">

                    <img src="../images/burger-menu-white.png" alt="burger menu" id="burgerMenu">

                </div>
                <div class="search-box-container">
                    <div class="search-box">
                        <img src="../images/search.png " alt="search icon " id="input-search-icon">
                        <input type="text" class="search-bar" id="search-bar-entry" placeholder="Search" onkeyup="getEntry(this.value)">
                        <!-- <img src="../images/more.png " alt="search menu" id="input-menu-icon"> -->

                    </div>
                    <div  class="search-box-select" id="search-box-select" style="height:300px";>

                    </div>
                </div>
                <div class="scanned-profile">
                    <div class="avatar_name_id">
                        <!-- image section -->
                        <div class="avatar">
                            <!--  image of the student or staff -->
                            <img src="../images/avatar1.jpg" alt="avatar">

                        </div>

                        <!-- name and id section -->
                        <div class="name_id">
                            <!-- Name of the student or staff here -->

                            <h3>Rakeb Zengada</h3>
                            <!-- Id of the student or staff -->
                            <h4>ETS0889/12</h4>
                        </div>

                    </div>

                    <!-- devices container -->

                    <div class="device_container">
                        <!-- title of the info section -->
                        <h2>Devices <button onclick="addDevice()">Add</button></h2>

                        <ul class="device_header">
                            <li class="device_id"><span> ID</span></li>
                            <li class="device_name"><span>Device Name</span></li>
                            <li class="device_serial"><span>Serial Number</span></li>
                            <li class="device_entry"><span>Last Entry </span></li>
                            <li class="device_exit"><span>Last Exit </span></li>
                            <li class="action"><span>Action </span></li>
                        </ul>

                        <!-- Devices registered for the user -->
                        <div class="device_list_container">

                            <form action="">
                                <ul class="device_list">
                                    <li class="device_id"><span>1</span></li>
                                    <li class="device_name"><span>HP</span></li>
                                    <li class="device_serial"><span>wed33499c344</span></li>
                                    <li class="device_entry"><span>25/25/2000 2:45PM</span></li>
                                    <li class="device_exit"><span>25/25/2000 2:45PM</span></li>
                                    <li class="action"> <button type="submit" method="post"> Edit </button> </li>

                                </ul>
                            </form>


                        </div>
                        <!-- the inline style for the form should be correcteed -->
                        <form action="../../controller/add-device.php" method="post" id="form1" class="popup-form">

                            <ul class="popup_add_device">
                                <li class="add_device_header">
                                    <span>Add Device</span>
                                </li>
                                <li>
                                    <input type="text" value="">
                                </li>
                                <li class="deviceName">
                                    <label for="deviceName">Device Name</label>
                                    <input id="device_name" name="deviceName" type="text" placeholder="Device Name"> </input>
                                </li>
                                <li class="deviceSerial">
                                    <label for="deviceSerial">Serial Number</label>
                                    <input id="device_serial" name="deviceSerial" type="text" placeholder="Serial Number"></input>
                                </li>
                                <li class="button-box">
                                    <input type="submit" name="submit" value="Save" class="btn btn_save">
                                    <button class="btn btn_cancel" id="add-device-btn-cancel">Cancel</button>
                                </li>
                            </ul>
                        </form>
                       
                    </div>

                </div>
            </div>
        </main>

        <!-- <script>
        let search = document.getElementsByClassName('search-box')[0];

        search.addEventListener('click', focus)
        search.addEventListener('mouseup', remove)

        function focus() {
            console.log("called")
            search.classList.add('focus')
        }

        function remove() {
            console.log("moved")

            search.classList.remove('focus')
        }
    </script> -->

    </body>

    </html>
    <?php 
    }
    else{
        header("Location: ../../index.php ");
    }
?>